.hamburger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  padding: .4rem;
  border-radius: .5rem;

  &:hover {
    filter: invert(20%);
  }
}

.btn__hamb {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background: white;
  cursor: pointer;

  div {
    width: 100%;
    height: 100%;
  }

  &:before, &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: white;
  }

  &:before {
    top: -8px;
  }

  &:after {
    top: 8px;
  }
}

.current-user {
  position: relative;
  font-size: 1.4rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.current-user__authorization {
  position: absolute;
  z-index: 4;
  top: -3%;
  left: -3%;

  &:active {
    filter: invert(10%);
  }
}

.hamburger-link {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;

  border: solid black;
  border-width: .1rem .1rem 0;

  &:last-child {
    border-width: .1rem;
  }

  &:hover {
    & > * {
      filter: invert(100%);
    }

    -webkit-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.33) inset;
    -moz-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.33) inset;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.33) inset;
  }

  &:active {
    -webkit-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.67) inset;
    -moz-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.67) inset;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.67) inset;
  }
}