.about-me__header {
  font-size: 2.5rem;
  padding: .2rem;
}

.about-me__name {
  color: #70FF00;
  font-size: 4.7rem;
  margin: 0;
  letter-spacing: .5rem;
}

.about-me__experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-container {
  color: #4d4d4d;
  font-size: 5.375rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: .4rem;
  margin-right: .9rem;

  .experience-text {
    margin-left: .4rem;
    font-size: 1.3rem;
  }

  &:last-child {
    margin-right: 0;
  }
}