header {
  font-family: Roboto, sans-serif;
  color: white;
  background-color: #09090b;
  padding: .3rem 0 .3rem .3rem !important;
  border-bottom: solid white .1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1320px;
  }

  .navigation {
    & > * {
      padding: 0;
      margin: 0;
    }

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .navigation__heading {
      flex-grow: 1;
      align-self: center;
      text-align: center;
      &:hover {
        filter: invert(15%);
      }
      &:active {
        filter: invert(35%);
      }
    }

    .nav {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    .navigation__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0 1rem 0 1rem;
      color: inherit;

      .navigation__link__img {
        margin-right: .5rem;
      }

      &:hover {
        filter: brightness(0) saturate(100%) invert(99%) sepia(7%) saturate(663%) hue-rotate(244deg) brightness(83%) contrast(86%);
      }
    }
  }
}