.skills {
  background: black;
  margin-top: 3rem;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    justify-self: center;
    background: inherit;
    top: 0;
    right: -20%;
    z-index: -1;
    height: 100%;
    width: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    justify-self: center;
    background: inherit;
    top: 0;
    left: -20%;
    z-index: -1;
    height: 100%;
    width: 50%;
  }
}

.skills__description {
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;

  .skills__description__img {
    flex-grow: 1;
    max-width: 5rem;
    width: 100%;
  }
}