.post {
  border-bottom: solid white 0.1rem;
  border-left: solid white 0.1rem;
  border-right: solid white 0.1rem;
  padding: .8rem;
  display: flex;
  flex-direction: column;

  &:first-child {
    border-top: solid white 0.1rem;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    -moz-border-radius-topright: .4rem;
    -moz-border-radius-topleft: .4rem;
  }

  &:last-child {
    border-bottom-right-radius: .4rem;
    border-bottom-left-radius: .4rem;
    -moz-border-radius-bottomright: .4rem;
    -moz-border-radius-bottomleft: .4rem;
  }
}

.post-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-title__text {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding-bottom: .3rem;
}

.post__body {
  padding-left: .3rem ;
}

.post__btn {
  margin-left: auto;
  gap: .3rem;
  &:hover {
    filter: invert(10%);
  }
  &:active {
    filter: invert(25%);
  }
}