body {
  background-color: #09090b;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;

  * {
    box-sizing: border-box;
    padding: 0;
  }
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}